body {
  background: #EEE;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background: #CCC;
  opacity: .5;
  top: 0;
  left: 0;
}
.preloader {
  background: url(../i/preloader_16.gif) no-repeat center center #CCC;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}
.preloader-inline {
  background: url(../i/preloader_16.gif) no-repeat center center;
  width: 16px;
  line-height: 16px;
  display: inline-block;
  margin: 0 0 0 5px;
}
.preloader_main {
  z-index: 2;
}
.none {
  display: none;
}

//APP
.app {
  background: #FFF;
  width: 290px;
  padding: 5px;
  color: #000;
}

.main {
  position: relative;
}

//HEADER
.header {
  background: #B6D1EC;
  height: 30px;
}
.header-links__item {
  float: left;
  list-style-type: none;
  line-height: 30px;
  margin: 0 20px 0 0;
}
.header-btn-wrapper {
  line-height: 30px;
}
.header-btn {
  cursor: pointer;
}

//AUTH
.auth-wrapper {
  padding: 25px 0 15px 5px;
  margin: 0 -100px;
  top: 20%;
  left: 50%;
  position: absolute;
  width: 200px;
  background: #FFF;
  border: 1px solid #CCC;
}
.auth-wrapper_hide {
  display: none;
}
.auth-input {
  margin: 0 5px 0 0;
}
.auth__close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #B6D1EC;
  color: #FFF;
  font-size: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in;
}
.auth__close-btn:hover {
  background: #000;
}

//UPDATE from 17.12.2015 все что выше не проверял нужно ли еще
.task-queue {
  max-height: 300px;
  overflow: auto;
}
.task-queue__header {
  text-align: center;
  font-size: 18px;
  padding: 5px 0;
}
.badge {
  width: 5px;
  height: 100%;
  float: left;
  background: #E2E2E3;
}
.stripe-wrapper {
  background: #F8F8F8;
  height: 35px;
  margin: 0 0 2px;
}
.stripe {
  color: #A3A3A5;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 20px;
}
.stripe__link {
  color: #A3A3A5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

//TASK
.task {
  font: 14px sans-serif;
  border-bottom: 1px solid #F3F3F4;
  height: 100px;
  position: relative;
  transition: all .5s linear 0s;
  z-index: 1;
  padding: 20px 0px 0 20px;
  box-sizing: border-box;
}
.task__left {
  float: left;
  width: 240px;
}
.task__right {
  float: left;
  width: 30px;
}
.task-btn {
  width: 24px;
  height: 24px;
  color: #15B9F0;
  background: transparent;
  border: 1px solid #15B9F0;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  transition: background, color .2s ease-in;
  margin: 0 0 5px;
  &:hover {
    background: #15B9F0;
    color: #FFF;
  }
  &:focus {
    outline: none;
  }
}
.task-btn_play {
  padding: 1px 0 0 1px;
}
.task-btn_pause {
  line-height: 12px;
}
.task__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
.task-name-link {
  color: #000;
  text-decoration: none;
}
.task__clock {
  margin: 15px 40px 0 0;
  display: inline-block;
  overflow: hidden;
}
.task__project {
  margin: 15px 0 0 0;
  display: inline-block;
  overflow: hidden;
  width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes animate-colon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.task-queue_inprogress .colon {
  animation: animate-colon 1s infinite;
}
