.newissue-appear {
  opacity: 0;
  top: 20px;
}
.newissue-appear.newissue-appear-active {
  opacity: 1;
  top: 37px;
  transition: opacity .2s ease-in, top .2s ease-in;
}
.newissue-leave {
  opacity: 1;
}
.newissue-leave.newissue-leave-active {
  opacity: 0;
  transition: opacity .2s ease-in;
}

.new-issue {
  width: 100%;
  height: 205px;
  background: #F8F8F8;
  position: absolute;
  z-index: 1;
  border-bottom: 2px solid #CCC;
}
.new-issue_errors {
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
}
.new-issue_errors {
  line-height: 18px;
}
.error-item {

}
.new-issue__input {
  width: 97%;
  margin: 5px 0 0 0;
  font-size: 14px;
  line-height: 19px;
  padding-left: 5px;
}
.new-issue__select {
  width: 100%;
  margin: 5px 0 0 0;
  font-size: 14px;
  line-height: 16px;
}
.new-issue__textarea {
  margin: 5px 0 0 0;
  font-size: 14px;
  width: 96%;
  height: 63px;
  border-color: #CCC;
  padding: 2px 5px;
}
.fa-plus-circle {
  cursor: pointer;
  transition: transform .2s ease-in, color .2s ease-in;
}
.fa-plus-circle_rotate {
  transform: rotate(135deg);
}
.new-issue__btn {
  float: right;
  cursor: pointer;
  background: #FFF;
  color: #15B9F0;
  border: 1px solid #15B9F0;
  transition: all .2s ease-in;
  padding: 5px;
  margin: 2px 0 0 0;
  &:hover {
    background: #15B9F0;
    color: #FFF;
  }
  &:disabled {
    color: #CCC;
    border-color: #CCC;
    &:hover {
      color: #CCC;
      border-color: #CCC;
      background: #FFF;
    }
  }
}

// override react-select
.Select-control {
  border-radius: 0;
}
.Select-placeholder, :not(.Select--multi) > .Select-control .Select-value {
  line-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
}
.has-value .Select-placeholder, :not(.Select--multi) > .Select-control .Select-value {
  color: #000;
}
.is-open .Select-placeholder {
  color: #AAA;
}
.Select-control {
  height: 24px;
}
.Select-input {
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
}
.Select-input > input {
  height: 24px;
}
